.inputs{
  width: 300px;
  background: none;
  border: none;
  border: 2px solid var(--cor-4);
  border-radius: 8px;
  padding: 18px;
  outline: none;
  resize: none;
  transition: 0.3s;
  margin-top: 16px;
}

.box-inputs div.inputs:focus{
  border-color: var(--cor-2) ;
}

.inputs:focus,.inputs:valid{
  border-color: var(--cor-2);
}

.box-inputs div.custom{
  position: relative;
}

.box-inputs div.custom label{
  position: absolute;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  bottom: 0%;
  left: 4%;
  top: 48%;
  color: var(--cor-3);
  cursor: text;
  font-size: 1rem;
  transition: 0.3s;
  background-color: var(--cor-principal-1);
}

.box-inputs div.custom .inputs:focus ~ label,
.box-inputs div.custom .inputs:valid ~ label{
  transform: translate(0px, -24px);
  font-size: 0.8rem;
  color: var(--cor-2);
}

.botao{
  width: 100%;
  padding: 15px;
  border: none;
  background-color: var(--cor-3);
  color: #fff;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}

.botao:hover{
  background-color: var(--cor-2);
}

.button {
  font-size: 1.2rem;
  color: var(--cor-5);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  background: var(--cor-3);
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: var(--cor-2);
}

.checkbox + .label-checkbox:before{
  content: '';
  width: 24px;
  height: 24px;
  background-image: var(--svg-checkbox-vazia);
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  margin-bottom: 4px;
  transition: 0.3s;
} 

.checkbox:checked + .label-checkbox:before{
  background-image: var(--svg-checkbox-confirm);
  }

  input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  }