.container {
  width: 100%;
  margin: 0px;
  display: grid;
  place-content: center;
}

.box-cadastrar {
  display: grid;
  position: flex;
  grid-auto-columns: 1fr;
  background: var(--cor-principal-1);
  max-width: 100%;
  padding: 50px;
  margin-top:85px;
  border-radius: 5px;
}

.input {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  padding: 50px;
}

.confirm {
  display: grid;
  justify-items: center;
}


.terms-links {
  color: var(--cor-3);
  transition: 0.3s;
}

.terms-links:hover {
  color: var(--cor-2);
}

.box-cadastrar h2 {
  display: grid;
  margin-left: 110px;
  max-width: 100%;
  color: var(--cor-1);
}

.termos label {
  color: var(--cor-3);
}


.container-box {
  display: grid;
  align-self: center;
}

.termos {
  display: flex;
  margin: 10px;
}

.checkbox {
  display: none;
  margin: 0px 5px;
  width: 20px;
  height: 15px;
}

#user {
  background-image: var(--svg-user);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1rem;
  padding-left: 1.2rem;
}

#email-cadastro {
  background-image: var(--svg-email);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1rem;
  padding-left: 1.2rem;
}

#telefone {
  background-image: var(--svg-telefone );
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1rem;
  padding-left: 1.2rem;
}

#CEP {
  background-image: var(--svg-cep);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1rem;
  padding-left: 1.2rem;
}

#password  {
  background-image: var(--svg-locker);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1rem;
  padding-left: 1.2rem;
}

#confirm_password  {
  background-image: var(--svg-locker);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1rem;
  padding-left: 1.2rem;
}