.info-fundo {
  padding: 120px;
}
.info {
  max-width: 1200px;
  padding: 30px 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
}

.ctt-container {
  grid-column: 1/3;
}

.ctt-container h3 {
  color: #525252;
}

.ctt-container h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.ctt-container p {
  font-size: 1.5rem;
  max-width: 60ch;
  margin-bottom: 20px;
  color: #525252;
}

.sup {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.ctt-container h3 {
  font-size: 1rem;
  line-height: 30px;
}

/* media */
@media (max-width: 1000px) {
  .info {
    gap: 60px;
  }

  .ctt-container h2 {
    font-size: 2.2rem;
  }
  .ctt-container p {
    font-size: 1.3rem;
  }

  .sup {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
}
