body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  background-color: var(--cor-body);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul,li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

abbr{
  text-decoration: none;
}

a{
  text-decoration: none;
}