:root {
  --text-color: #141414;
  --fundo-1: #f5f5f5;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f5f5f5;
    --fundo-1: #141414;
  }
}

.header {
  max-width: 1200;
  padding: 30px 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 1px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3rem;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--text-color);
  display: block;
  transition: 0.3s;
}

.header a:hover {
  background: var(--fundo-1);
  border-radius: 8px;
}

/* SVGS */
.logo {
  width: 128px;
}

/* Responsivo */

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 15px;
  }

  .header a {
    background: var(--fundo-1);
    border-radius: 8px;
  }
}
