
.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  place-content: center;
}

.box {
  display: grid;
  position: flex;
  grid-auto-columns: 1fr;
  background: var(--cor-principal-1);
  max-width: 100%;
  padding: 50px;
  margin-top: 180px;
  border-radius: 5px;
}

.input {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  padding: 50px;
}

.mode-input{
  width: 280px;
}

.confirm {
  display: grid;
  justify-items: center;
}

.cadastre {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin: 10px 0px;
}

.links {
  text-decoration: none;
  color: var(--cor-3);
  transition: 0.3s;
}

.links:hover {
  color: var(--cor-2);
}

.titulo-login {
  display: grid;
  place-content: start;
  margin-left: 50px;
  max-width: 100%;
  color: var(--cor-1);
}


#email {
  background-image: var(--svg-email);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1rem;
  padding-left: 1.2rem;
}


#senha {
  background-image: var(--svg-locker);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1rem;
  padding-left: 1.2rem;
}