.fundo-box{
  max-width: 100vw;
  height: 800px;
  display: grid;
  place-content: center;
}

.box-inputs{
  padding: 64px;
  display: grid;
  justify-items: center;
  gap: 24px;
  background-color: #ededee;
  border-radius: 16px;
}

.cd-es{
  display: flex;  
  gap: 80px;
}

.links  a{
  color: var(--cor-3);
}

.links a:hover{
  color: var(--cor-2);
}

.titulo-inputs{
  justify-self: left;
  color: var(--cor-1);
}
