.grid-product{
  padding: 64px;
}

.product{
  max-width: 100vw;
  display: grid;
  grid-template-columns: 350px 1fr;
  margin: 0 auto;
}

.produtos-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr );
  gap: 32px;
  justify-items: center;
  margin: 0 auto;
}

.produtos{
  background-color: var(--cor-5);
  max-width: 250px;
  display: grid;
  grid-template-rows: auto;
  border-radius: 8px;
  gap: 20px;
  padding: 24px;
  transition: 0.3s;
}

.img-produto img{
  border-radius: 8px;
}

.nome-produto{
  display: flex;
  justify-content: space-between;
  color: var(--cor-1);
}

.legenda-produto p{
  color:var(--cor-3);
}

.filters{
  display: grid;
  justify-self: center;
}

.checkboxs{
  display: grid;
  gap: 4px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.filtros{
  padding: 20px;
  background-color: var(--cor-6);
  width: 250px;
  border-radius: 8px;
  height: 560px;
}

.valores input{
  appearance: none;
  width: 100%;
  background-color: #ededed;
  outline: none;
  border: none;
  height: 8px;
  border-radius: 8px;
  margin-top: 16px;
}

.valores input::-webkit-slider-thumb{
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: var(--cor-4);
  border-radius: 8px;
}

.valores input::-webkit-slider-thumb:active{
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: var(--cor-4);
  border: 2px solid #dedede;
  border-radius: 8px;
}

.valores span{
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
}

.filtrar{
  margin-top: 16px;
}

.titulo-filtro{
  margin-bottom: 16px;
}