:root {
  --svg-search: url(../img/search.svg);
  --svg-checkbox-vazia: url(../img/check_box_outline_blank.svg);
  --svg-checkbox-confirm: url(../img/check_box.svg);
  --svg-store-off: url(../img/store_mall_directory.svg);
  --svg-store-on: url(../img/store_mall_directory-preencher.svg);
  --svg-user-off: url(../img/person_outline-vazio-26.svg);
  --svg-user-on: url(../img/person-preenchido.svg);
  --svg-bag-off: url(../img/shopping_cart-vazio.svg);
  --svg-bag-on: url(../img/shopping_cart-preencher.svg);
  --svg-filter: url(../img/filter-icon-black.svg);
}